#logoheader {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#barra {
  background-color: #3e5c9a;
}

ul {
  text-align: center;
  display: block;
}

li {
  display: inline-block;
  padding: 14px;
}

li a{
  color: white;
  text-align: center;
  padding: 14px;
}

li a:hover {
  background-color: #2f4c9a;
  color: white;
  text-decoration: none;
}
